<!DOCTYPE html>
<html lang="en">
<%- include partials/head.ejs %>
<body>
    
    <h1 class="page-loader">Loading...</h1>

    <div class="page-content">
        <%- include partials/nav.ejs %>

        <div class="container">
            
            <div id="about">

                <img src="/img/carrot.svg" alt="carrot chat logo">
                <h1><%- title %></h1>

                <h3>What is this?</h3>
                <p>
                    Carrotchat is a small web-development -course project
                    built by two students of Turku University of Applied Sciences.
                </p>

                <h3>How does this work?</h3>
                <p>
                    Upon arrival, every user is given a random, theme compliant, username to chat with. Everyone can create new chats with a topic of
                    their choosing. Once the user leaves the site, the reserved username is 
                    freed and can be assigned to someone else. Similiar theme 
                    applies to chats which are removed when the last chatter leaves the chat.
                </p>

                <h3>Why?</h3>
                <p>
                    Effortless and anonym chatting!
                </p>

                <h3>I want nerdy details!</h3>
                <p>
                    Source code is available at Github with more details: 
                </p>

            </div>

        </div>
        
    </div>

    <script src="js/common.js"></script>
    <script src="js/about.js"></script>
</body>
</html>