<!DOCTYPE html>
<html lang="en">
<%- include partials/head.ejs %>
<body>
    
    <h1 class="page-loader">Loading...</h1>

    <div class="page-content">
        <%- include partials/nav.ejs %>

        <div class="container">
            
            <div id="about">

                <img src="/img/carrot.svg" alt="carrot chat logo">
                <h1><%- title %></h1>

                <p>
                    Carrotchat is a small web-development -course project
                    built by two students of Turku University of Applied Sciences.
                </p>
                <p>
                    Source code available at Github with more details: 
                </p>

            </div>

        </div>
        
    </div>

    <script src="js/common.js"></script>
    <script src="js/about.js"></script>
</body>
</html>