<!DOCTYPE html>
<html lang="en">
<%- include partials/head.ejs %>
<body>
    
    <h1 class='page-loader'>Loading...</h1>

    <div class='page-content'>
        <%- include partials/nav.ejs %>

        This is lobby
    </div>

    <script src="js/common.js"></script>
    <script src="js/lobby.js"></script>
</body>
</html>