<!DOCTYPE html>
<html lang="en">
<%- include partials/head.ejs %>
<body>
    
    <h1 class="page-loader">Loading...</h1>

    <div class="page-content">
        <%- include partials/nav.ejs %>

        <div class="container">
            <div id="controls">
                <p id="control-error"></p>
                <input id='topicInput' maxlength="30" type="text" placeholder="New topic"
                ><button class="bg-green" id='okBtn'>OK</button>
            </div>

            <div id="chats" class="mt-1">
                
                <div class="chatbox">
                    <h3>Topic</h3>
                </div>

                <div class="chatbox">
                    <h3>Topic</h3>
                </div>

            </div>

        </div>
        
    </div>

    <script src="js/common.js"></script>
    <script src="js/lobby.js"></script>
</body>
</html>